- var image_path = 'images'
- var css_path = 'css'
- var js_path = 'js'
- var svg_path = 'svg'

-
  var pages = {
    top: {
      url: 'index.html',
      name: 'top page',
      title: 'みQ文字ジェネレータ',
    },
    link: {
      url: 'link.html',
      name: 'link page',
      title: 'みQ文字ジェネレータ',
    }
  }
