extends _layout.pug

block vars
  include _config.pug
  - var key = "top"
  - var page = pages[key]

block contents
  .container
    p.p-4 setumei

    .row.mt-4
      textarea#input.form-control.col-md-8.mx-auto( rows="3" placeholder="ここに文字を入力してください" )

    .row.mt-2
      button#miq-btn.btn.btn-success.mx-auto( type="button" ) つくる

    .row.mt-4
      canvas#cv.mx-auto( width="320" height="240" )



