extends _layout.pug

block vars
  include _config.pug
  - var key = "top"
  - var page = pages[key]

block contents
  .container
    p.p-4 setumei

    .row.mt-4
      textarea#input.form-control.col-md-8.mx-md-auto.mx-4( rows="3" placeholder="ここに文字を入力してください" )

    .row.mt-4
      canvas#cv.mx-auto( width="1024" height="782" )

    .row.my-3
      img#new-image.mx-auto( width="1024" height="782" )

    .row.mt-3
      button#save-btn.btn.btn-success.mx-auto( type="button" ) ほぞん


