extends _layout.pug

block vars
  include _config.pug
  - var key = "top"
  - var page = pages[key]

block contents
  .container
    .row
      p.p-4.col-8.mx-auto
        | 下のフォームに文字を入力すると、みQ文字が画像として下に出力されます。
        | <br>保存したものは自由に使ってください。

    .row.mt-4
      textarea#input.form-control.col-md-8.mx-md-auto.mx-4( rows="3" placeholder="ここに文字を入力してください" )

    .row.mt-4
      canvas#cv.mx-auto( width="1024" height="782" )

    .row.my-3
      img#new-image.mx-auto( width="1024" height="782" )

    .row.mt-3
      a#save-btn.btn.btn-success.text-white.mx-auto( href="" download ) 保存する

