extends _layout.pug

block vars
  include _config.pug
  - var key = "top"
  - var page = pages[key]

block contents
  .container

    #home
      .row
        .col-md-6.mx-auto.text-center
          p.p-4
            | フォームに文字を入力すると、
            | <br>みQ文字が画像として出力されます。
            | <br>保存して自由に使ってください。

      .row.mt-4
        textarea#input.form-control.col-md-8.mx-md-auto.mx-4( rows="3" placeholder="ここに文字を入力してください" )

      .row.mt-4
        canvas#cv.mx-auto( width="1024" height="782" )

      .row.my-3
        img#new-image.mx-auto( width="1024" height="782" )

      .row.mt-4
        a#save-btn.btn.btn-success.text-white.mx-auto( href="" download ) 保存する

      .row
        .col-md-6.mx-auto.text-center
          p.p-4 ※携帯の人は画像を長押しで保存してください( T_T)＼(^-^ )

    #link
      .text-center.mt-5
        h2.my-2 WEAR
        a( href="https://wear.cannes.jp/" target="_blank" ) https://wear.cannes.jp/

      .text-center.mt-5
        h2.my-2 MiQさん
        iiia( href="https://twitter.com/MiQ_WEAR" target="_blank" ) https://twitter.com/MiQ_WEAR

      .text-center.mt-5
        h2.my-2 kazy111 - みQ文字フォント
        a( href="https://github.com/kazy111/MiQglyph" target="_blank" ) https://github.com/kazy111/MiQglyph 
      

      .mt-5.text-center
        p.m-2 github
        a.m-2( href="https://github.com/yuucu/miq_char" target="_blank" ) https://github.com/yuucu/miq_char 

      .mt-5.text-center
        p.m-3 お問い合わせ
        p.m-2 なにか問題がありましたら
          a.author.m-2( href="https://twitter.com/stkbi" target="_blank" ) @stkbi
          | までお願い致します

