extends _layout.pug

block vars
  include _config.pug
  - var key = "link"
  - var page = pages[key]

block contents
  .container
    #link
      .text-center.mt-5
        h2.my-2 WEAR
        a( href="https://wear.cannes.jp/") https://wear.cannes.jp/

      .text-center.mt-5
        h2.my-2 MiQさん
        a( href="https://wear.cannes.jp/") https://wear.cannes.jp/

      .text-center.mt-5
        h2.my-2 kazy111
        a( href="https://wear.cannes.jp/") https://wear.cannes.jp/
      


      .mt-5.text-center
        p.m-2 github
        a.m-2( href="https://github.com/satokibi/miq_char" ) https://github.com/satokibi/miq_char 

