header
  nav.navbar.navbar-light.bg-light.navbar-expand-sm
    .navbar-brand#nav-title
      p #{page.title}
    .
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>

    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto
        li.nav-item
          .nav-link.active#nav-home
            p Home
        li.nav-item
          .nav-link#nav-link 
            p Link
