header
  nav.navbar.navbar-light.bg-light.navbar-expand-sm
    a.navbar-brand( href=pages["top"].url ) #{page.title}
    .
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>

    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link( href=pages["top"].url ) Home <span class="sr-only">(current)</span>
        li.nav-item
          a.nav-link( href=pages["link"].url ) Link
